BREVO_API_KEY=
BREVO_SENDER_EMAIL=no-reply@fptu-club.local
BREVO_SENDER_NAME=FPTU Club

JWT_SECRET_KEY=your-super-secret-key-min-32-chars!!
JWT_ISSUER=fptu-club-system
JWT_AUDIENCE=fptu-club-clients

SQLSERVER_SA_PASSWORD=YourStrong!Passw0rd
